<div id="option">
    <h1>CommBuys Statewide Contracts</h1>
    <p>This page edited 11/20/2017 2:24PM</p>
    <p>Contracts September - October 2017</p>
</div>
<script>
    function drawButtons(code) {
        console.log(code);
        var opacity = $("#" + code).css("opacity");
        if (opacity == 1) {
            $("#" + code).fadeTo(1000, 0.25);
            $("#" + code + "List").fadeTo(1000, 0.85);
            document.getElementById(code + "List").style.visibility = "visible";
        } else {
            $("#" + code).fadeTo(1000, 1);
            $("#" + code + "List").fadeTo(1000, 0);

            setTimeout(
                function () {
                    document.getElementById(code + "List").style.visibility = "hidden"
                }, 1000);

        }
    }

    // this variable counts how many elements there are so far, to make correct rows.
    var count = 0;
    var jsonTree;

    function loadJSON(callback) {

        var xobj = new XMLHttpRequest();
        xobj.overrideMimeType("application/json");
        xobj.open('GET', 'resources/cats.json', true); // Replace 'my_data' with the path to your file
        xobj.onreadystatechange = function () {
            if (xobj.readyState == 4 && xobj.status == "200") {
                // Required use of an anonymous callback as .open will NOT return a value but simply returns undefined in asynchronous mode
                callback(xobj.responseText);
            }
        };
        xobj.send(null);
    }

    function init() {
        loadJSON(function (response) {
            // Parse JSON string into object
            jsonTree = JSON.parse(response);
        });

        setTimeout(function () {
            console.log(jsonTree);
            initializeRows();
        }, 500);
    }

    0
    init();

    function initializeRows() {
        var dataCount = 0;
        var colIdCount = 0;
        var rowIdName = "";
        var colIdName = "";
        for (data in jsonTree.children) {
            if (colIdCount % 4 === 0) {
                var div = document.createElement("div");
                div.setAttribute('class', 'row');
                div.setAttribute('id', 'row' + count);
                rowIdName = 'row' + count;
                colIdCount = 0;
                count++;
                document.body.appendChild(div);
            }
            var col = document.createElement("div");
            col.setAttribute('class', 'col-xs-3');
            colIdName = rowIdName + 'col' + colIdCount;
            col.setAttribute('id', colIdName);
            document.getElementById(rowIdName).appendChild(col);
            // create list elements
            console.log(jsonTree.children[dataCount]._children);
            var contractList = "";
            for (cat in jsonTree.children[dataCount]._children) {
                contractList = contractList + "<a href='" + jsonTree.children[dataCount]._children[cat].link
                    + "' class='list-group-item list-group-item-action' target='_blank'>" + jsonTree.children[dataCount]._children[cat].name + " (" + jsonTree.children[dataCount]._children[cat].code + ")" + "</a>"
            }
            document.getElementById(colIdName).innerHTML = "<div class='contractContainer'>" +
                "<h3 class='contractTitle' onclick=drawButtons('" + jsonTree.children[dataCount].code + "')><br/>"
                + jsonTree.children[dataCount].name
                + "&nbsp&nbsp<br/></h3>" +
                "<div class='categoryIconDiv'><img src='/resources/icons/" + jsonTree.children[dataCount].code
                + ".png' class='categoryIcon' onclick=drawButtons('" + jsonTree.children[dataCount].code
                + "') id ='" + jsonTree.children[dataCount].code + "'/>" +
                "</div>" +
                "<div class='list-group itemList' id='" + jsonTree.children[dataCount].code + "List'>" + contractList +
                "</div></div>";
            console.log('#row' + count + "col" + colIdCount);
            colIdCount++;
            dataCount++;
        }

    }

</script>