<div id="option">
    <h1>CommBuys Statewide Contracts</h1>
    <div>
        <a class="btn btn-primary btn-sm" href="#!/">Home</a> <div class="refresh btn btn-success btn-sm" onclick="clearPageForUpdate()"> <span
                   class="glyphicon glyphicon-refresh"> </span></div>
           <p>Contracts Last Pulled: <span id="lastPullDate"></span></p></div>
    </div>
<div id="categoryContainer"></div>
    <script>
        //this function shows the list that appears overlayed on the icon
        function drawButtons(code) {
            //close the open lists
            closeAllExcept(code);
            //this is in a setTimeout so that the data has time to load
            setTimeout(function () {
                // fades the icon out in the background
                $("#" + code).fadeTo(500, 0.25);

                //fades in the list and close buttons
                $("#" + code + "List").fadeTo(500, 0.90);
                $("#" + code + "Button").fadeTo(500, 0.85);
                document.getElementById(code + "List").style.visibility = "visible";
                document.getElementById(code + "Button").style.visibility = "visible";

            }, 375)
        }

        // fades the list into the background
        function closeList(code) {
            $("#" + code).fadeTo(500, 1);
            $("#" + code + "List").fadeTo(500, 0);
            $("#" + code + "Button").fadeTo(500, 0);

            setTimeout(
                function () {
                    document.getElementById(code + "List").style.visibility = "hidden";
                    document.getElementById(code + "Button").style.visibility = "hidden";

                }, 1000);
        }

        // presses the close buttons on all lists that do not have the given code
        function closeAllExcept(except) {
            for (data in jsonTree.children) {
                var code = jsonTree.children[data].code;
                if (code !== except) {
                    document.getElementById(code + "Button").click();
                }
            }
        }

        // this variable counts how many elements there are so far, to make correct rows.
        var count = 0;
        var jsonTree;

        // loads JSON
        function loadJSON(callback) {
            var xobj = new XMLHttpRequest();
            xobj.overrideMimeType("application/json");
            xobj.open('GET', 'resources/cats.json', true);
            xobj.onreadystatechange = function () {
                if (xobj.readyState == 4 && xobj.status == "200") {
                    callback(xobj.responseText);
                }
            };
            xobj.send(null);
        }

        // runs on initialization
        function init() {
            loadJSON(function (response) {
                // Parse JSON string into object
                jsonTree = JSON.parse(response);
            });

            setTimeout(function () {
                initializeRows();
            }, 500);
        }


        init();

        // initializes the row layout depending on the number of category elements
        function initializeRows() {
            var dataCount = 0;
            var colIdCount = 0;
            var rowIdName = "";
            var colIdName = "";
            // populates the date div with the date from the JSON
            document.getElementById("lastPullDate").innerHTML = jsonTree['date-pulled'];
            for (data in jsonTree.children) {
                // if the column number is divisible by 6
                if (colIdCount % 6 === 0) {
                    // create a div
                    var div = document.createElement("div");
                    // set properties
                    div.setAttribute('class', 'row');
                    div.setAttribute('id', 'row' + count);
                    rowIdName = 'row' + count;

                    colIdCount = 0;
                    count++;
                    document.getElementById("categoryContainer").appendChild(div);
                }
                var col = document.createElement("div");
                col.setAttribute('class', 'col-xs-2');
                colIdName = rowIdName + 'col' + colIdCount;
                col.setAttribute('id', colIdName);
                document.getElementById(rowIdName).appendChild(col);
                // create list elements
                var contractList = "";
                for (cat in jsonTree.children[dataCount]._children) {
                    if (jsonTree.children[dataCount]._children[cat].link) {
                        contractList = contractList + "<a href='" + jsonTree.children[dataCount]._children[cat].link
                            + "' class='list-group-item list-group-item-action' target='_blank'>"
                            + jsonTree.children[dataCount]._children[cat].name + " (" + jsonTree.children[dataCount]._children[cat].code + ")" + "</a>"
                    }
                    else {
                        contractList = contractList + "<div class='list-group-item list-group-item-disabled'>"
                            + jsonTree.children[dataCount]._children[cat].name + " (" + jsonTree.children[dataCount]._children[cat].code + ")" + "</div>"
                    }
                }
                document.getElementById(colIdName).innerHTML = "<div class='contractContainer'>"
                    + "<div class='categoryIconDiv'><img src='/resources/icons/" + jsonTree.children[dataCount].code
                    + ".png' class='categoryIcon' onclick=drawButtons('" + jsonTree.children[dataCount].code
                    + "') id ='" + jsonTree.children[dataCount].code + "'/>" +
                    "</div>" +
                    "<div class='contractTitle'>"
                    + jsonTree.children[dataCount].name
                    + "</div>" +
                    "<div class='list-group itemList' id='" + jsonTree.children[dataCount].code + "List'>" + contractList +
                    "</div><div class='btn btn-block btn-danger close-button' onclick=closeList('" + jsonTree.children[dataCount].code + "') id='" + jsonTree.children[dataCount].code + "Button'>Close</div></div>";
                colIdCount++;
                dataCount++;
            }
        }


        function clearPageForUpdate() {
            location.href = '#!/refreshOSDdata';
        }

    </script>
    <!--Icons created by Pranita Lokinendi -->
