<!--This div contains the header menu-->
<div id="option">
    <h1>MBTA Old vs New Auth Tree</h1>
    <div class="lastUpdated">
        <p>Last Updated: 11/2/2017 11:30AM</p>
    </div>
</div>
<!-- this is an empty div for the script to populate with the tree -->
<div id="chart"></div>
<br/>
<br/>
<br/>
<script>
    var dataDisplayed = 0; // when 0, admin- when 1, ops
    // clears the screen in case a visualization is still loaded
    d3.select("svg").remove();

    // size variables for the box to paint in
    var margin = {top: 20, right: 150, bottom: 20, left: 200},
        width = 1150,
        height = 3100;

    var i = 0,
        //sets the amount of time it takes the tree opening animation to run
        duration = 750,
        root;

    // initializes the tree
    var tree = d3.layout.tree()
        .size([height, width]);

    // initializes the tree branches
    var diagonal = d3.svg.diagonal()
        .projection(function (d) {
            return [d.y, d.x];
        });

    // appends the svg to paint on to the chart div
    var svg = d3.select("#chart").append("svg")
    // sets the height and width of the svg
        .attr("width", width + margin.right + margin.left)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    // initializes the budget/approval tooltip
    var div = d3.select("body").append("div")
        .attr("class", "tooltip")
        .style("opacity", 1e-6);

    // initializes the new approval tooltip
    var div2 = d3.select("body").append("div")
        .attr("class", "tooltip")
        .style("opacity", 1e-6);


    //loads the department data
    d3.json("resources/old/new_auth_vs_old.json", function (error, flare) {
        if (error) throw error;

        root = flare;
        root.x0 = height / 2;
        root.y0 = 0;

        function collapse(d) {
            if (d.children) {
                d._children = d.children;
                d._children.forEach(collapse);
                d.children = null;
            }
        }

        root.children.forEach(collapse);
        update(root);
        setTimeout(function () {
            expandAll();
        }, 100);
    });

    d3.select(self.frameElement).style("height", "800px");

    function update(source, remove) {
        if (remove) {
            svg.selectAll("g.node").remove();
        }
        // Compute the new tree layout.
        var nodes = tree.nodes(root).reverse(),
            links = tree.links(nodes);


        // Normalize for fixed-depth.
        nodes.forEach(function (d) {
            d.y = d.depth * 250;    // I don't know specifically what this does,
                                    // but I do know that changing the number
                                    // changes the width of the tree that is displayed

        }); //180

        // Update the nodes
        var node = svg.selectAll("g.node")
            .data(nodes, function (d) {
                return d.id || (d.id = ++i);
            });


        // Enter any new nodes at the parent's previous position.
        var nodeEnter = node.enter().append("g")
            .attr("class", "node")
            .attr("transform", function (d) {
                return "translate(" + source.y0 + "," + source.x0 + ")";
            })
            .on("click", click);

        nodeEnter.append("circle")
            .attr("r", 1e-6);

        node.append("svg:foreignObject")
            .attr("width", 20)
            .attr("height", 20)
            .attr("y", "-10px")
            .attr("x", function (d) {
                return "-25px";
            })
            .append("xhtml:span")
            .attr("z-index", "9999")
            .attr("class", function (d) {
                if (d.tree.authUnder || d.tree.authDeptNo || d.tree.authLevel) {
                    return "control glyphicon glyphicon-star"
                }
            })
            .style("color", function (d) {
                return "red";
            })
            .on("mouseover", mouseover)
            .on("mousemove", function (d) {
                mousemove(d);
            })
            .on("mouseout", mouseout)
            .on("click", function (d) {
                if (d.tree.authUnder) {
                    highlight(d.tree.authUnder);
                }
            })
            .style("cursor", "pointer");
        // appends the name text to the nodes
        nodeEnter.append("text")
            .attr("x", function (d) {
                if (d.level == "4") {
                    return d.children || d._children ? -20 : -10;
                }
                return d.children || d._children ? -10 : 10;
            })
            .attr("dy", ".35em")
            .attr("text-anchor", function (d) {
                if (d.level == "4") {
                    return d.children || d._children ? "end" : "end";
                }
                return d.children || d._children ? "end" : "start";
            })
            //the name is appended to the dot right here
            .text(function (d) {
                return d.name;
            })
            // calls for PO data tooltip on mouseover

            .on("mouseover", mouseover2)
            .on("mousemove", function (d) {
                mousemove2(d);
            })
            .on("mouseout", mouseout2)

            .style("fill-opacity", function (d) {
                return 1;
            })
            .style("text-decoration", function (d) {
                if (d.tree.affiliation == "old") {
                    return "line-through"
                }
            })
            // the names are styled here based on PO data
            .style("fill", function (d) {
                if (d.tree.affiliation == "old") {
                    return "red"
                }
                if (d.tree.affiliation == "new") {
                    return "green"
                }
            })
            .attr("id", function (d) {
                if (d.tree.affiliation == "old") {
                    return "striker"
                }
            });


        // Transition nodes to their new position.
        var nodeUpdate = node.transition()
            .duration(duration)
            .attr("transform", function (d) {
                return "translate(" + d.y + "," + d.x + ")";
            });

        // size/style the circles based on levels
        nodeUpdate.select("circle")
            .attr("r", function (d) {
                // change this number to make dots bigger or smaller
                return 5.5;
            })
            .attr("z-index", "9997")
            .style("fill", function (d) {
                if (d.tree.affiliation == "old") return "#ffffff";
                else {
                    if (d.level == "2") return "red";
                    if (d.level == "3") return "orange";
                    if (d.level == "4") return "green";
                    if (d.level == "5") return "#00afd6";
                    if (d.level == "6") return "purple";
                    if (d.name == "") return "#ffffff";
                }
            })
            .style("opacity", function (d) {
                if (d.level == "") {
                    return 0;
                }
                return 1;
            })
            .style("stroke", function (d) {
                if (d.tree.affiliation != "both") {
                    return "black";
                }
            })
            .style("stroke-width", function (d) {
                if (d.tree.affiliation != "both") {
                    return "2.5px";
                }
            });


        // Transition exiting nodes to the parent's new position.
        var nodeExit = node.exit().transition()
            .duration(duration)
            .attr("transform", function (d) {
                return "translate(" + source.y + "," + source.x + ")";
            })
            .remove();

        nodeExit.select("circle")
            .attr("r", 1e-6);

        nodeExit.select("text")
            .style("fill-opacity", 1e-6);

        // Update the links…
        var link = svg.selectAll("path.link")
            .data(links, function (d) {
                return d.target.id;
            });

        // Enter any new links at the parent's previous position.
        link.enter().insert("path", "g")
            .attr("class", "link")
            .attr("d", function (d) {
                var o = {x: source.x0, y: source.y0};
                return diagonal({source: o, target: o});
            });

        // Transition links to their new position.
        link.transition()
            .duration(duration)
            .attr("d", diagonal);

        // Transition exiting nodes to the parent's new position.
        link.exit().transition()
            .duration(duration)
            .attr("d", function (d) {
                var o = {x: source.x, y: source.y};
                return diagonal({source: o, target: o});
            })
            .remove();

        // Stash the old positions for transition.
        nodes.forEach(function (d) {
            d.x0 = d.x;
            d.y0 = d.y;
        });

    }


    // Toggle children on click.
    function click(d) {
        if (d.children) {
            d._children = d.children;
            d.children = null;
        } else {
            d.children = d._children;
            d._children = null;
        }
        update(d, false);
    }

    // controls how long it takes the tooltip to appear after you hover
    function mouseover() {
        div.transition()
            .duration(300)
            .style("opacity", 1);
    }

    // controls how long it takes the tooltip to appear after you hover
    function mouseover2() {
        div2.transition()
            .duration(300)
            .style("opacity", 1);
    }

    function mousemove2(d) {
        div2.html(d.deptno)
            .style("left", (d3.event.pageX + 15) + "px")
            .style("top", (d3.event.pageY) + "px")
    }

    //draws the tooltip
    function mousemove(d) {
        if (d.tree.affiliation == "both" && !d.tree.authLevel && !d.tree.authDeptNo && !d.tree.authUnder) {
            div.html(d.deptno + "<br/>" + "Department is in both the auth and department trees.")
                .style("left", (d3.event.pageX + 15) + "px")
                .style("top", (d3.event.pageY) + "px")
        }
        if (d.tree.affiliation == "new" && !d.tree.authLevel && !d.tree.authDeptNo && !d.tree.authUnder) {
            div.html(d.deptno + "<br/>" + "Department is only in the new tree")
                .style("left", (d3.event.pageX + 15) + "px")
                .style("top", (d3.event.pageY) + "px")
        }
        if (d.tree.affiliation == "old" && !d.tree.authLevel && !d.tree.authDeptNo && !d.tree.authUnder) {
            div.html(d.deptno + "<br/>" + "Department is only in the old tree")
                .style("left", (d3.event.pageX + 15) + "px")
                .style("top", (d3.event.pageY) + "px")
        }
        if (d.tree.affiliation == "both" && d.tree.authLevel && !d.tree.authDeptNo && !d.tree.authUnder) {
            div.html(d.deptno + "<br/>" + "Department is in both the old and new trees, but is Level " + d.tree.authLevel + " in the old tree.")
                .style("left", (d3.event.pageX + 15) + "px")
                .style("top", (d3.event.pageY) + "px")
        }
        if (d.tree.affiliation != "both" && !d.tree.authLevel && d.tree.authDeptNo && !d.tree.authUnder) {
            div.html(d.deptno + "<br/>" + "Department has department # " + d.tree.authDeptNo + " in the old tree.")
                .style("left", (d3.event.pageX + 15) + "px")
                .style("top", (d3.event.pageY) + "px")
        }
        if (d.tree.affiliation == "both" && !d.tree.authLevel && d.tree.authDeptNo && !d.tree.authUnder) {
            div.html(d.deptno + "<br/>" + "Department with this # is in both trees, but there is a department with a similar name that has department # " + d.tree.authDeptNo + " in the old tree.")
                .style("left", (d3.event.pageX + 15) + "px")
                .style("top", (d3.event.pageY) + "px")
        }
        if (d.tree.affiliation == "both" && !d.tree.authLevel && !d.tree.authDeptNo && d.tree.authUnder) {
            div.html(d.deptno + "<br/>" + "Department is in both the old and new trees, but is structurally under department # " + d.tree.authUnder + " in the old tree.")
                .style("left", (d3.event.pageX + 15) + "px")
                .style("top", (d3.event.pageY) + "px")
        }
    }


    // controls how slowly the tooltip disappears
    function mouseout() {
        div.transition()
            .duration(300)
            .style("opacity", 1e-6);
    }

    // highlights department names that are in a certain KPI section
    function mouseout2() {
        div2.transition()
            .duration(300)
            .style("opacity", 1e-6);
        // unHighlight();
    }

    // highlights all names that appear in a certain KPI section
    function highlight(deptNo) {
        unHighlight();
        d3.selectAll("text")
            .style("font-size", function (d) {
                if (d.deptno == deptNo) {
                    return "20px";
                }
                else {
                    return "14.5px";
                }
            });

    }

    function unHighlight() {
        d3.selectAll("text")
            .style("font-size", function (d) {
                return "14.5px";
            });

    }

    // expands a node
    function expand(d) {
        var children = (d.children) ? d.children : d._children;
        if (d._children) {
            d.children = d._children;
            d._children = null;
        }
        if (children)
            children.forEach(expand);
    }

    //expands all nodes in the tree
    function expandAll() {
        expand(root);
        update(root);
    }

</script>
<!--This div contains the legend of the chart -->
<div id="legend">
    <h3 class="ltitle">Legend</h3>
    <div id="level1circle"></div>
    <p>Level 0</p>
    <div id="level4circle"></div>
    <p>Level 1</p>
    <div id="level5circle"></div>
    <p>Level 2</p>

</div>

<div id="iconLegend">
    <h3 class="ltitle">Icons</h3>
    <div><span class="glyphicon glyphicon-star" style="color: red;"></span>
        <p>Structure to change, click to highlight the departments involved</p></div>

    <div style="border: 2.5px solid black; border-radius: 50%; width: 14px; height: 14px;"></div>
    <div><p style="color: red;">To be removed</p></div>

    <div style="background-color: grey; border: 2.5px solid black; border-radius: 50%; width: 14px; height: 14px;"></div>
    <div><p style="color: green;">To be added</p></div>

    <div style="background-color: black; border: 2.5px solid black; border-radius: 50%; width: 14px; height: 14px;"></div>
    <div><p>Staying the same</p></div>

</div>
<!-- This div contains the 'Expand All' button -->
<div id="expandB">
    <input name="expandButton"
           type="button"
           class="btn btn-block"
           value="Expand All"
           onclick="expandAll()"/>
    <br/>
    <input name="clearButton"
           type="button"
           class="btn btn-block"
           value="Clear"
           onclick="unHighlight()"/>
</div>

<!-- This div contains the navigation-->
<div id="employeeButton" class="btn-group-vertical">
    <a class="btn btn-default" href="#!/">Home</a>
</div>