.node {
    cursor: pointer;
}

.nodeRoot {
    cursor: pointer;
    color: red;
}

.node text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11pt;
    font-weight: 700;
    cursor: pointer;

}

#name-text {
    font-weight: normal;
}

.link {
    fill: none;
    stroke: #836f6f;
    stroke-width: 1px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    max-width: 45%;
    padding: 8px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11pt;
    font-weight: 500;
    background: #b7ceff;
    border: solid 1px #aaa;
    border-radius: 8px;
    pointer-events: none;
}

div2.tooltip2 {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 8px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11pt;
    font-weight: 500;
    background: #b7ceff;
    border: solid 1px #aaa;
    border-radius: 8px;
    pointer-events: none;
}

#expandB {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-bottom: 10px;
    margin-right: 10px;
    z-index: 100;
}

#option {
    text-align: center;
    width: 900px;
    margin: 0 auto;
    padding-top: 10px;
}

#chart {
    text-align: center;
    margin: 0 auto;
    padding-left: 10px;
    padding-bottom: 50px;
}

#legend {
    position: fixed;
    width: 12%;
    height: auto;
    top: 0;
    left: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11pt;
    font-weight: 700;
    background: white;
}

#iconLegend {
    position: fixed;
    width: 12%;
    height: auto;
    top: 0;
    right: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11pt;
    font-weight: 700;
    background: white;
}

.ltitle {
    margin-left: 10%;
}

.ltitleright {
    position: fixed;
    width: 12%;
    height: auto;
    top: 0;
    right: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11pt;
    font-weight: 700;
    background: white;
    text-align: right;
    margin-left: 10px;
    margin-right: 25px;
}

.ltitleright2 {
    position: fixed;
    width: 12%;
    height: auto;
    top: 0;
    right: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11pt;
    font-weight: 700;
    text-align: right;
    margin-left: 10px;
    margin-right: 25px;
    background-color: rgba(0, 0, 0, 0);
}

#transparentCircle {
    width: 15px;
    height: 15px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: deeppink;
    margin-left: 25px;
    margin-right: 10px;
    float: left;
    opacity: 0.6;
}

#level1circle {
    width: 15px;
    height: 15px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: black;
    margin-left: 25px;
    margin-right: 10px;
    float: left;
}

#level2circle {
    width: 15px;
    height: 15px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: red;
    margin-left: 25px;
    margin-right: 10px;
    float: left;
}

#level3circle {
    width: 15px;
    height: 15px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: orange;
    margin-left: 25px;
    margin-right: 10px;
    float: left;
}

#level4circle {
    width: 15px;
    height: 15px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: green;
    margin-left: 25px;
    margin-right: 10px;
    float: left;
}

#level5circle {
    width: 15px;
    height: 15px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: #00afd6;
    margin-left: 25px;
    margin-right: 10px;
    float: left;
}

#level6circle {
    width: 15px;
    height: 15px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: purple;
    margin-left: 25px;
    margin-right: 10px;
    float: left;
}

#lessthan25 {
    color: #32CD32;
    text-align: right;
}

#x25to50 {
    color: #CCCC00;
    text-align: right;
}

#x50to75 {
    color: red;
    text-align: right;
}

#x75plus {
    color: #800000;
    text-align: right;
}

#employeeButton {
    position: fixed;
    left: 0;
    bottom: 0;
    margin-bottom: 10px;
    margin-left: 10px;
    z-index: 100;
    max-width: 13%;
    white-space: normal;
}

#over {
    text-align: right;
    color: red;
}

#slightlyover {
    text-align: right;
    color: #FF9999;
}

#under {
    text-align: right;
    color: #4B0082;
}

#slightlyunder {
    text-align: right;
    color: #5FB7C9;
}

#scale1 {
    text-align: right;
    color: #BF0100;
}

#scale2 {
    text-align: right;
    color: #EB1E25;
}

#scale3 {
    text-align: right;
    color: #BD05C5;
}

#scale4 {
    text-align: right;
    color: #5C08C8;
}

#scale5 {
    text-align: right;
    color: #0B1CCB;
}

#scale6 {
    text-align: right;
    color: #0E84CE;
}

#scale7 {
    text-align: right;
    color: #12D1B6;
}

#scale8 {
    text-align: right;
    color: #15D455;
}

#scale9 {
    text-align: right;
    color: #4CE628;
}

.lastUpdated {

    display: inline-block;

}

.update {
    display: inline-block;

}

#kpi-buttons {
    position: fixed;
    right: 0;
    top: 0;
    margin-right: 10px;
    margin-top: 6%;
    height: 75%;
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 0.9;
}

#description {
    height: 50px;
    border: black;
    border-style: solid;
    border-width: 0px 0px 2px 2px;
    position: fixed;
    right: 0;
    top: 0;
    width: 30%;
    background: white;
    padding-left: 10px;
    border-bottom-left-radius: 30px;
    z-index: 100;
}

#descriptionText {
    position: fixed;
    right: 0;
    top: 0;
    margin-top: 52px;
    margin-right: 15px;
    background: white;

}

#sizer {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 99;
}

#back-button {
    left: 0;
    top: 0;
    margin-left: 10px;
    margin-top: 10px;
}

#employees {
    height: 100%;
    overflow: hidden;
}

#employeeOptions {
    position: fixed;
    left: 0px;
    top: 0px;
    padding: 10px;
    z-index: 100;
    border-right: solid 2px;
    border-bottom: solid 2px;
    border-bottom-right-radius: 70px;
    background-color: white;
}

.control.glyphicon {
    position: static;
    font-size: 19px;
}

.control.glyphicon.glyphicon-plus {
    color: white;
    font-size: 9px;
}

.control.glyphicon.glyphicon-minus-sign {
    color: red;
}

.control.glyphicon.glyphicon-remove-circle {
    color: black;
    z-index: 9996;
    font-size: 15px;
}

.control.glyphicon.glyphicon-star {
    z-index: 9996;
    font-size: 15px;
}

.control.glyphicon.glyphicon-record {
    color: black;
    font-size: 14px;
}

.glyphicon-key.glyphicon.glyphicon-plus {
    color: white;
    font-size: 9px;
}

.glyphicon-key.glyphicon.glyphicon-minus-sign {
    color: red;
    font-size: 19px;
}

#switch-label-left {
    float: right;
    font-size: 18px;
}

#switch-label-right {
    float: left;
    font-size: 18px;
}

#toggle-switch {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-top: 1%;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 34px;

}

/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

/*
input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
*/
input:checked + .slider:before {
    -webkit-transform: translateX(55px);
    -ms-transform: translateX(55px);
    transform: translateX(55px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.tooltip-head {
    width: 100%;
}

.old-approvals {
    float: left;
    padding: 10px;
    width: 50%;
    height: 75%;
}

.new-approvals {
    float: right;
    top: 0;
    padding: 10px;
    width: 50%;
    height: 75%;
}

.old-requests {
    float: left;
    padding: 10px;
    /* border-top: medium solid black; */
    height: 25%;
    left: 0;
    bottom: 0;
    width: 50%;
}

.new-requests {
    float: right;
    padding: 10px;
    /* border-top: medium solid black; */
    width: 50%;
    height: 25%;
    right: 0;
    bottom: 0;
}

.request-container {
    bottom: 0;
    left: 0;
    right: 0;
    float: right;
    width: 100%;
}

.request-container2 {
    bottom: 0;
    left: 0;
    right: 0;
}

.to-bottom {
    bottom: 0;
    width: 50%;
    left: 50%;
    right: 50%;
    position: fixed;
}

.glyphicon.glyphicon-question-sign {
    font-size: 30px;
}

/*
.approvals-container {
    border: medium red dashed;
    background-color: red;
}
*/
#striker {
    position: relative;
    display: inline-block;
    color: red;
}

#striker::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px; /* ADJUST HEIGHT TO ADD WEIGHT */
    background: red; /* CHANGE COLOR TO SUIT */
}

#optionsMenu {
    top: 0;
    right: 0;
    position: fixed;
}

#optionsDiv {
    bottom: 0;
    float: right;
    font-size: 45px;
}

#vendor-name {
    float: right;
}

#not-bold {
    font-style: italic;
    font-size: 2em;
}

#wspNormal {
    white-space: normal;
    word-wrap: break-word;
    margin-bottom: 4px;
    text-align: left;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    overflow-y: auto;
    height: 90%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.glyphicon.glyphicon-one-fine-dot:before {
    content: "\25cf";
    font-size: 2em;
}

/* this is for the OSD page*/

.categoryIcon {
    border: 3px solid black;
    border-radius: 50%;
    background-color: lightgrey;
    width: 80%;
    margin: auto;
    display: block;
    bottom: 0;
    cursor: pointer;
    max-height: 10cm;
    max-width: 10cm;
}

.categoryIconDiv {
    position: absolute;
    width: 100%;
}

.itemList {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 20%;
    left: 10px;
    right: 0px;
    padding-right: 2px;
    padding-left: 20px;
    overflow-y: auto;
    bottom: 5%;
    font-size: 18px;
}

.contractTitle {
    text-align: center;
    height: 20%;
}

.contractContainer {
    height: 12cm;
    position: relative;
    display: block;
}

.close-button {
    bottom: 0;
    position: absolute;
    display: block;
    left: 10px;
    right: 10px;
    padding-right: 20px;
    padding-left: 20px;
    visibility: hidden;
    opacity: 0;

}